  body {background-color: #CCF3EE;}
  hr {
      border-style: dotted none none;
      border-color: grey;
      width: 5%;
      border-width: 7px;
      }
  h1 {
      font-family: copperplate, fantasy;
      color: #5F7161;
      }
  h3 {
      font-family: "Lucida Console", monospace;
      color: #94B49F;
      }
.circular {
          border-radius: 100%;
}
